@tailwind base;
@tailwind components;
@tailwind utilities;

body.no-scroll {
    overflow: hidden;
}

.categBox {
    animation: slideDown 0.2s ease-in;
    top: 4.5rem;
}


@keyframes slideDown {
    0% {
        top: 0;
    }

    100% {
        top: 4.5rem;
    }
}

.blackscreen {
    background-color: #7876764f;
    /* top: 5rem; */
}