@tailwind base;
@tailwind components;
@tailwind utilities;

body.no-scroll {
    overflow: hidden;
}

.categBox {
    animation: slideDown 0.2s ease-in;
    top: 3.5rem;
}

@keyframes slideDown {
    0% {
        top: -100%;
    }

    100% {
        top: 3.5rem;
    }
}

.blackscreen {
    background-color: #7876764f;
}